[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"

[dev-packages]
behave = "==1.2.6"
pytest = "==6.2.2"
requests = "==2.25.1"

[requires]
python_full_version = "3.8"
